/WebXsonQuiz-SERVERT/nbproject/
WebXsonQuiz-SERVERT/DataBaseUser.json
WebXsonQuiz-SERVERT/DataBaseUsers.json
WebXsonQuiz-SERVERT/target
WebXsonQuiz-SERVERT/nbproject

*.iml
WebXsonQuiz-APP/.gradle
WebXsonQuiz-APP/local.properties
WebXsonQuiz-APP/.idea
WebXsonQuiz-APP/.idea/caches
WebXsonQuiz-APP/.idea/libraries
WebXsonQuiz-APP/.idea/modules.xml
WebXsonQuiz-APP/.idea/workspace.xml
WebXsonQuiz-APP/.idea/navEditor.xml
WebXsonQuiz-APP/.idea/assetWizardSettings.xml
WebXsonQuiz-APP/.DS_Store
WebXsonQuiz-APP/build
WebXsonQuiz-APP/captures
WebXsonQuiz-APP/.externalNativeBuild
WebXsonQuiz-APP/.cxx
WebXsonQuiz-APPlocal.properties
deply.sh
WebXsonQuiz-SERVERT/pruevas.xml
WebXsonQuiz-SERVERT/purvasTrivias.xml
WebXsonQuiz-SERVERT/pruevaDataBaseTrivias.xtriv
pruevaDataBaseTrivias.xtriv
WebXsonQuiz-SERVERT/DataBaseTrivia.json
WebXsonQuiz-SERVERT/DataBaseTrivia.xtriv
.vscode
custoDataBase.json
custonDataUser.json
custonDataBaseRespon.json
