body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #2b2b2b;
    color: #f8f8f2;
    margin: 0;
    padding: 0;
    height: 100vh; /* Asegura que el body ocupe todo el alto */
    display: flex;
    justify-content: center;
    align-items: center;
}

.ide {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Mantener que la IDE ocupe el alto completo */
    max-width: 800px;
    width: 100%;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Agregar un poco de sombra para mejor estilo */
}

header {
    background-color: #1e1e1e;
    padding: 10px;
    text-align: center;
    flex-shrink: 0; /* Asegura que el header no cambie de tamaño */
}

.ide-title {
    color: #61dafb;
    font-size: 1.2em;
}

.editor {
    flex-grow: 1; /* Permite que la sección del editor crezca y llene el espacio disponible */
    background-color: #1e1e1e;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.code-input {
    width: 100%;
    flex-grow: 1; /* Asegura que el textarea ocupe el espacio disponible */
    background-color: #1e1e1e;
    border: none;
    color: #f8f8f2;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    outline: none;
    resize: none;
    padding: 10px;
    border: 1px solid #444; /* Para darle un borde visible */
}

.console {
    background-color: #1e1e1e;
    padding: 20px;
    border-top: 1px solid #444;
    flex-shrink: 0; /* Asegura que la consola no cambie de tamaño */
}

.console-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.console-title {
    color: #61dafb;
    font-size: 1.2em;
}

.execute-btn {
    background-color: #61dafb;
    border: none;
    color: #1e1e1e;
    padding: 10px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}

.execute-btn:hover {
    background-color: #21a1f1;
}

.console-output {
    background-color: #121212;
    padding: 10px;
    border: 1px solid #444;
    height: 100px;
    overflow-y: auto;
    color: #f8f8f2;
    font-family: 'Courier New', Courier, monospace;
}
